@model MentalToHellFinal.Models.CustomUser.LifeConclusion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Model/_LayoutUser.cshtml";
}

<h2>Edit</h2>

<h4>LifeConclusion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LifeConclusionHead" class="control-label"></label>
                <input asp-for="LifeConclusionHead" class="form-control" />
                <span asp-validation-for="LifeConclusionHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LifeConExpl" class="control-label"></label>
                <input asp-for="LifeConExpl" class="form-control" />
                <span asp-validation-for="LifeConExpl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LifeConDate" class="control-label"></label>
                <input asp-for="LifeConDate" class="form-control" type="date" />
                <span asp-validation-for="LifeConDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
