
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h3>Добро пожаловать на сайт посвященный саморазвитию</h3>
    <p>Данный сайт предоставляет инструменты для:</p>
    <ol>
        <li>Ведения личного дневника;</li>
        <li>Саморазвития личности путем самопознания;</li>
        <li>Поиска ресурсов для возможности развивать навыки написания текста и личных записей;</li>
        <li>Квалифицированой помощи психолога основанного на Ваших записях;</li>
        <li>Быстрого поиска записей по датам, ключевым словам;</li>
    </ol>
</div>