@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="main-part-content" id="main-privacy">
    <h2 class="main-h">Правила сайта</h2>
    <div class="start-it">
        @if (User.Identity.IsAuthenticated)
        {
            <a id="start-profile" class="" asp-area="" asp-controller="UserCurrentStates" asp-action="Details">Начать</a>
        }
    </div>
    <div>

    </div>
</div>