@{
    ViewData["Title"] = "Home Page";
}

<div id="main-page">
    <div class="list-inline row">
        <h1 id="main-header" class="col-sm-7">Сервис "Личный дневник"</h1>
        @if (User.Identity.IsAuthenticated)
        {
            <a id="start-profile" class="col-sm-1" asp-area="" asp-controller="UserStates" asp-action="Details">Начать</a>
        }
        <div id="main-login" class="col-sm-2">
            <partial name="_LoginPartial" />
        </div>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <hr />
        <h5>Зарегистрируйтесь, или войдите, для того чтобы воспользоватся сервисом.</h5>
        <hr />
    }
    <div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Про проект</a>
                    </h2>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <h3>Добро пожаловать на сайт посвященный саморазвитию</h3>
                        <p>Данный сайт предоставляет инструменты для:</p>
                        <ol>
                            <li>Ведения личного дневника;</li>
                            <li>Саморазвития личности путем самопознания;</li>
                            <li>Поиска ресурсов для возможности развивать навыки написания текста и личных записей;</li>
                            <li>Квалифицированой помощи психолога основанного на Ваших записях;</li>
                            <li>Быстрого поиска записей по датам, ключевым словам;</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Команда разработчиков</a>
                    </h2>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Контакты</a>
                    </h2>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>