@{
    ViewData["Title"] = "Home Page";
}

<div id="main-page">
    <div class="list-inline row">
        <h1 id="main-header" class="col-sm-7">Сервис "Личный дневник"</h1>
        @if (User.Identity.IsAuthenticated)
        {
            <a id="start-profile" class="col-sm-1" asp-area="" asp-controller="UserStates" asp-action="Details">Начать</a>
        }
        <div id="main-login" class="col-sm-2">
            <partial name="_LoginPartial" />
        </div>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <hr />
        <h5>Зарегистрируйтесь, или войдите, для того чтобы воспользоватся сервисом.</h5>
        <hr />
    }
        <div class="main-panel">
            <div class="panel-body">
                <div>
                    @await Html.PartialAsync("_About")
                </div>
                <hr />
                <div>
                    @await Html.PartialAsync("_Contact")
                </div>
                <hr />
                <div>
                    @await Html.PartialAsync("_Privacy")
                </div>
                <hr />
            </div>
            
        </div>
</div>