@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<ul>
    <li><a asp-area="" asp-controller="UserPersonalStates" asp-action="Index">Personal</a></li>
    <li><a asp-area="" asp-controller="AppUsers" asp-action="Index">User</a></li>
    <li><a asp-area="" asp-controller="CurrentStatus" asp-action="Index">Status</a></li>
    <li><a asp-area="" asp-controller="Genders" asp-action="Index">Gender</a></li>
    <li><a asp-area="" asp-controller="JobSatisfactions" asp-action="Index">Job</a></li>
    <li><a asp-area="" asp-controller="PersonalLyfeJoys" asp-action="Index">PersonalLyfeJoys</a></li>
    <li><a asp-area="" asp-controller="Religions" asp-action="Index">Religion</a></li>
    <li><a asp-area="" asp-controller="Sexes" asp-action="Index">Sex</a></li>
    <li><a asp-area="" asp-controller="Temperaments" asp-action="Index">Temperament</a></li>
</ul>
