@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/read1.jpg" alt="Reading" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    “Reading is essential for those who seek to rise above the ordinary.”
                    – Jim Rohn
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/write1.jpg" alt="Write" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    “You can always edit a bad page. You can’t edit a blank page.”
                    ― Jodi Picoult
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/write2.jpg" alt="Write" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    “Every secret of a writer’s soul, every experience of his life, every quality of his mind, is written large in his works.”
                    — Virginia Woolf
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    
</div>
