@{
    ViewData["Title"] = "Home Page";
}
<div id="main-page">
    <h1 class="h1" id="main-header">Сервис "Личный дневник"</h1>

            <!--
        read1 Photo by Clem Onojeghuo on Unsplash
        write1 Photo by Green Chameleon on Unsplash
        write2 Photo by Nick Morrison on Unsplash
        --
            <p>Личный дневник</p>
            <p>Развитие личности через самопознание</p>
            <p>поиск по ключевым словам по тексту</p>
            <p>каталог ресурсов</p>
            <p>чатбот по инт ересующей теме</p>
            <p>улавливать темы по частотному словарю.</p>
            <p>хелпер</p>
            <p>
                справочные системы и каталог русурсов
            </p>
            <p>каталогализатор</p>
            <p>админка тема новостей</p>
    </div>-->

    <div id="main-tags" class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="main-tag">
                    Сервис для ведения личного дневника.
                </p>
            </div>
            <div class="col-sm-6">
                <p class="main-tag">
                    Сервис для саморазвития.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="main-tag">
                    Сервис для поиска ресурсов.
                </p>
            </div>
            <div class="col-sm-4">
                <p class="main-tag">
                    Помошь психолога
                </p>
            </div>
            <div class="col-sm-4">
                <p class="main-tag">
                    Возможность быстро искать записи
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="main-tag">

                </p>
            </div>
            <div class="col-sm-6">
                <p class="main-tag">

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="low-main-tag">
                    Зарегистрируйтесь, или войдите, для того чтобы воспользоватся сервисом.
                </p>
            </div>
        </div>
    </div>
</div>