/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
.menu-body {
    background-color: #323030 !important;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    background-color: white;
}
.user-main-one {
    background-color: #323030 !important;
}
#user-layout-main {
    
}

.main-container {
    height: 96vh;
    margin: 2VH 1VW !important;
    background-color: #323030;
    background-image: url(../images/write2-min.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 1vh 4vw;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}
#main-page {
    margin-top: 5em;
}
/*
    menu

#main-menu-hidden {
    position: absolute;
    z-index: 1000;
    background-color: #A5C05B;
    width: 15vw;
    height: 80vh;
    right: 1vw;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}*/
.nav-menu-all {
    -webkit-box-shadow: inset 0px 2px 5px 1px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 2px 5px 1px rgba(255,255,255,1);
    box-shadow: inset 0px 2px 5px 1px rgba(255,255,255,1);
    padding-top: 10px;
    font-size: 20px;
}

#main-login {
    float: right;
}
#main-login > ul, #main-login > form > ul {
    list-style-type: none;
}
#main-login > ul > li, #main-login > form > ul > li {
    display: inline-block;
    margin: 10px;
    padding: 2px;
}
#main-login > ul > li > a, #main-login > form > ul > li > a, #main-login > form > ul > li > button {
    font-size: 1em !important;
    text-decoration: none !important;
    color: #F1F3CE;
    text-shadow: #882426 1px 1px 4px;
    font-weight: bold;
}

/*Header*/
#main-header {
    background-image: url(../images/h1main.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;
    text-shadow: 4px 4px 2px #882426;
    width: 100%;
    height: 200px;
    color: #C29545;
    font-size: 4em;
    text-transform: uppercase;
}

/*Main content*/
#main-tags {
    background-color: #DDDEDE;
    padding: 10px !important;
    overflow-x: hidden;
    overflow-y:auto; 
}
#main-tags > .row:nth-child(1) {
    margin-top: 0.5em;
}
#main-tags > .row:nth-child(2) {
    margin-top: 1.5em;
}
#main-tags > .row:nth-child(3) {
    margin-top: 2.5em;
}
.main-tag {
    font-size: 1em;
    color: #882426;
    text-shadow: 2px 2px 2px #CEADAD;
}

.tag-author {
    text-align: right !important;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
.main-tag:nth-child(1) {
    
}
    .main-tag:nth-child(2) {
        
    }
    .main-tag:nth-child(3) {
        
    }
}
.main-tag:nth-child(4) {
    
}
.main-tag:nth-child(5) {
    
}
.main-tag:nth-child(6) {
   
}
.main-tag:nth-child(7) {
   
}
.main-tag:nth-child(8) {
    
}

.create-new {
    text-decoration: none;
    color: #323030;
}
.create-new:hover, .create-new:focus, .create-new:active {
    text-decoration: none;
    color: #CDBEA7;
}


footer {
    position: fixed;
    bottom: 2vh;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
