
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="main-part-content" id="main-privacy">
    <h2 class="main-h">Правила сайта</h2>
</div>