@model MentalToHell.Models.Reports.ReportMood

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReportMood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MoodName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoodName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
